img{
    max-width: 500px;
    align-self: center;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

h1{
    color: #92E3A9;
    font-weight: bold;

}
p{
    font-weight: bold;
}