
<div class="container m-3">
    <div class="card">
        <div class="card-header">
            <h2>Add New Student</h2>

        </div>
        <div class="card-body">
            <form (submit)="handleAddStudent()"  [formGroup]="studentFormGroup">
                <div class="form-group">
                    <label for="fullname" >fullname</label>
                    <input type="text" id="fullname" class="form-control" formControlName="fullname">
                </div>
                <div class="form-group">
                    <label for="year" >Year</label>
                    <input type="text" id="year" class="form-control" formControlName="year">
                </div>
                
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" formControlName="email">
                </div>
               
                <button type="submit" class="btn btn-outline-primary mt-3" > Create New Student</button>
            </form>
            

        </div>

    </div>

</div>



